.center {
  font-family: Helvetica, Arial, "Times New Roman";
  font-size: 22px;
  text-align: center;
  display: block;

  text-decoration: none;
}
img, button{
  display: block;
  margin: auto;
  width: 70%;
  height: auto;
  border-radius: 25px;
  width: min(75%, 600px);
}
  button {
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    border-radius: 25px;
    width: min(75%, 250px);
}
a {
  color:black;
  text-decoration: none;
}
body {
text-align: center;
}
.left {
  text-align:left;
}
